.bw-blog-post {
    background: #FDFDFD;
    border: 1px solid #E0E0E0;
    border-radius: 7px;
    overflow: hidden;
    width: 380px;
    margin-bottom: 20px;
}
    .bw-blog-posts--wrapper {
        margin-top: 15px;
        margin-bottom: 90px;
    }
        .bw-blog-posts--wrapper .bw-col {
            padding-left: 10px; 
            padding-right: 10px; 
        }
    .bw-blog-post__details {
        padding: 30px 20px 25px;
    }
    .bw-blog-post__image {
        opacity: 0.3;
        display: block;
        width: 100%;
    }
        .bw-blog-post__image--wrapper {
            background: rgba(110, 78, 146, 1);
        }
    .bw-blog-post__title {
        line-height: 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 5px;
    }
    .bw-blog-post__time {
        font-weight: 300;
        line-height: 16px;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 25px;
        display: block;
    }
    .bw-blog-post__read-more {
        font-weight: bold;
        line-height: 13px;
        font-size: 12px;
        color: #6E4E92;
        text-decoration: none;
    }
    .bw-blog-post .bw-text {
        margin-bottom: 20px;
    }
    .bw-blog-posts__pagination {
        text-align: center;
        margin-top: 30px;
    }
        .bw-blog-posts__pagination-element {
            width: 20px;
            height: 20px;
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 18px;
            font-size: 12px;
            color: #3D3D3D;
            text-decoration: none;
        }
        .bw-blog-posts__pagination-element.bw-blog-posts__pagination-element--active {
            border: 1px solid #6E4E92;
        }