* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* LOGO STYLES */
.bw-logo {
    float: left;
    line-height: 70px;
}
    .bw-logo__image {
        vertical-align: middle;
    }

/* COMMON STYLES */
.bw-page-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
    @media (min-width: 576px) {
        .bw-page-wrapper {
            max-width: 540px;
        }
    }
    @media (min-width: 768px) {
        .bw-page-wrapper {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .bw-page-wrapper {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .bw-page-wrapper {
            max-width: 1140px;
        }
    }

/* GRID STYLES */
.bw-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -35px;
    margin-left: -35px;
}
.bw-col-9,
.bw-col-8,
.bw-col-6,
.bw-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    padding-right: 35px;
    padding-left: 35px;
}
.bw-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.bw-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.bw-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

/* STYLES FOR BUTTONS */
.bw-button {
    width: 180px;
    height: 50px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2em;
    display: inline-block;
    box-sizing: border-box;
}
    /* BUTTONS COLORS */
    .bw-button.bw-button--white {
        background: #fff;
        color: #6E4E92;
    }
    .bw-button.bw-button--red {
        background: #D24A44;
        border: 2px solid #D24A44;
    }
    /* BUTTONS BORDER COLOR */
    .bw-button--border-purple {
        border-color: #6E4E92;
        color: #6E4E92;
    }
    /* BUTTONS SIZES */
    .bw-button.bw-button--small-text {
        text-transform: none;
        font-size: 12px;
        width: 120px;
        height: 40px;
        line-height: 36px;
        font-weight: normal;
        letter-spacing: 0;
    }


/* TITLES STYLES */
.bw-title {
    line-height: 40px;
    font-size: 36px;
    text-transform: uppercase;
    color: #6E4E92;
    margin-bottom: 30px;
}
    .bw-title--white {
        color: #fff;
    }
    .bw-title--center {
        text-transform: none;
        text-align: center
    }
.bw-sub-title {
    font-weight: 300;
    line-height: 27px;
    font-size: 24px;
    color: #6E4E92;
    text-transform: uppercase;
    margin-bottom: -5px;
    margin-top: 80px;
}
    .bw-sub-title--white {
        color: #fff;
    }
        .bw-sub-title--white strong {
            color: #6E4E92;
        }

/* TESTS STYLES */
.bw-text {
    font-weight: 300;
    line-height: 17px;
    font-size: 14px;
    color: #3D3D3D;
    margin-bottom: 45px;
}
    .bw-text + .bw-text {
        margin-top: -20px;
    }
    .bw-text--white {
        color: #fff;
    }

.bw-center {
    text-align: center;
}



.bw-black-background {
    background: linear-gradient(153.46deg, #271B35 0.7%, #050307 59.39%);
    padding: 22vh 0 20vh;
    margin: -22vh 0 0;
    position: relative;
    z-index: 1;
}  
    .bw-black-background::before{
        content: "";
        border-bottom: 22vh solid transparent;
        border-left: 100vw solid #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .bw-black-background::after{
        content: "";
        border-top: 11vh solid transparent;
        border-right: 100vw solid #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }

/* POPUP STYLES */
.bw-popup--wrapper:hover .bw-popup {
    display: block;
}
.bw-popup {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background: #171717;
    box-shadow: 0px 1px 15px rgba(53, 79, 87, 0.08);
    border-radius: 8px;
    min-height: 35px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    white-space: nowrap;
    margin-top: 18px;
    border: 1px solid #C4C4C4;
}
    .bw-popup::after,
    .bw-popup::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: -5px;
        left: 50%;
        z-index: 2;
        margin-left: -5px;
        background: #171717;
        transform: rotate(45deg);
    }
    .bw-popup::after {
        background: #C4C4C4;
        top: -6px;
        z-index: 1;
    }
    .bw-popup span {
        opacity: 0.5;
    }